<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frames/NoAnim/BlueDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
            <key>NoAnim/BlueDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Blue.png</string>
            <key>size</key>
            <string>{99,35}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed8c44a92e098dada459746598639eb5:da38556acb726778fcb3b29f0cb411d7:367b9c116f650224ab70418f6b77c2b8$</string>
            <key>textureFileName</key>
            <string>Blue.png</string>
        </dict>
    </dict>
</plist>
