<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platformcorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1},{75,73}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>platformcorner1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{79,73}}</string>
                <key>offset</key>
                <string>{19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>platformcorner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,76},{73,75}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{73,75}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>platformcorner3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1},{75,73}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{75,73}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>platformcorner4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,153},{73,75}}</string>
                <key>offset</key>
                <string>{-18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlatformCorner.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0674a142816672dc82dff3268e6aa53a:20c583bf50b8835c8fd79773657ca77c:d4a15b4f1e24b874c220bcb449a16442$</string>
            <key>textureFileName</key>
            <string>PlatformCorner.png</string>
        </dict>
    </dict>
</plist>
